<% include ./partials/header %>
<script> 
	$(document).ready(function(){ 
			$("#myTable").tablesorter({ dateFormat: "ddmmyyyy"}); 
	}); 
	var allitemslocal2 = <%- JSON.stringify(allitems) %>;
	console.log(allitemslocal2); 
$(function(){
	$('#containerfiltro').mixItUp();
});

$(".title").append("<p>Tarefas</p>");
console.log(allitems);
</script>
		<% if (allitems.length !=0){ %>
		<div class="row">
				<table id="myTable" class="tablesorter table-hover" data-sortlist="[[1,0]]"> 
				<!--<table class="table-striped table-hover tablesorter" id="mytable">-->
					<tbody id="containerfiltro">
						<% allitems.forEach(function(x){%>
							<tr class="mix <%= x.priority%>">		
								<td id="todo"> <%= x.item;%></td>
								<td> <%= x.priority;%></td>
								<% if (x.duedate !== null){ %>
								<td> <%= moment(x.duedate).utc().format("DD/MM");%></td>
								<% } else { %> <td></td>
								<% }; %>
								<td id="<%=x._id%>" class="deleteicon">
									<i class="fa fa-trash-o" aria-hidden="true"></i>
								</td>

							</tr>
						<% }); %>
					</tbody>
				</table>
				<div class="controls">
				  <button class="filter" data-filter="all">todas</button>
				  <button class="filter" data-filter=".baixa">Baixa</button>
				  <button class="filter" data-filter=".media">Média</button>
				  <button class="filter" data-filter=".alta">Alta</button>
				  <button class="filter" data-filter=".urgente">Urgente</button>
				</div>		
			
		</div>
		<%} else {%>
 		<div class="heart-box">
 			<i class="fa fa-heart heart" aria-hidden="true" ></i>
 			<p>Você ainda não possui tarefas, <br> comece com a primeira!</p>
 		</div>
		<%}%>

</div>
<% include ./partials/footer %>

