<% include ./partials/header %>



<div class="container">	
	<div class="row">
		<div class="col-sm-12 col-lg-12">
			<h1>Lista de To Dos</h1>

			<form action="./items">
			    <input class="btnnovoitem" type="submit" value="Adicione novo To Do" />
			</form>
			<table id="myTable" class="tablesorter table-striped table-hover" data-sortlist="[[1,0]]"> 
			<!--<table class="table-striped table-hover tablesorter" id="mytable">-->
				<thead>
					<tr>
						<th></th>
						<th>Prioridade</th>
						<th>Data limite</th>
						<th> Quantos dias faltam para entrega</th>
						<th>To Do</th>
					</tr>
				</thead>
				<tbody>
					<% allitems.forEach(function(x){%>
						<tr>
							<td id="<%=x._id%>" class="deletebutton"> <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></td>
							<td> <%= x.priority;%></td>
							<td> <%= moment(x.duedate).utc().format("DD/MM/YYYY");%></td>
							<% moment.locale("pt-br") %>
							<td> <%=  moment(x.duedate).utc().fromNow();%></td>
							<td id="todo"> <%= x.item;%></td>
						</tr>
					<% }); %>
				</tbody>
			</table>
		
		</div>
	</div>
	<div><a href="/calendar">Ver calendário</a></div>
</div>

<% include ./partials/footer %>

